*{
    margin: 10;
    padding: 0;
}

.navegacion{
    background-color: rgb(241, 237, 232);
    padding: 14px 30px;
    display: flex;
    justify-content: space-evenly;
    width: 1430px;
}
.navegacion a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;   
    color: black;
        
}

.logo{
    background-color: gainsboro;
    width: 580px;
    justify-content: center;
    margin-left: 10px;
    padding-left: 50px;
    }
.menu{
    background-color: yellow;
    text-align: center;
    width: 1000px; 
    justify-content: center;
    }
    
.imagencabeza{
    background-image: url(Chalten.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: center;
    height: 600px;
    width: 1480px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(144, 11, 11);
    
 }   
.quehacemos{
    background-image: url(Naturaleza_BG_QS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: center;
    height: 703px;
    width: 1480px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(196, 39, 39);
}

.quehacemos p{
    font-size: 20px;
}

.textqhacemos{
    padding-top: 20px;
}

.quienessomos h1{
    font-size: 30px;
}
.quienessomos p{
font-size: 20px;
align-items: center;

}

.BlogdeNotas{
background-color: beige;
padding: 30px 0; 
}